<section class="container">
    <h1 class="heading">Jobs by Gender</h1>
<input ng-model="cv.pageSize" type="number" ng-change="cv.changePageSize(cv.pageSize)">
    <div style="height: 300px; box-sizing: border-box;">
        {{cv.bop}}
        <table ng-model="cv.data">
            <tr>
                <th>Job Title</th>
                <th>
                    <span class="fa fa-female"></span>
                </th>
                <th>
                    <span class="fa fa-male"></span>
                </th>
                <th>Diff</th>
                <th> </th>
            </tr>

            <tr ng-repeat="item in cv.currentPageData">
                <td>{{item.jobtitle}}</td>
                <td>{{item.fAvgRate || 0}}</td>
                <td>{{item.mAvgRate || 0}}</td>
                <td>{{item.difference || "zip"}}</td>
                <td ng-if="item.difference && (item.fAvgRate >= item.mAvgRate)">
                    <span class="fa fa-female"></span>
                </td>
                <td ng-if="item.difference && (item.fAvgRate <= item.mAvgRate)">
                    <span class="fa fa-male"></span>
                </td>
            </tr>
        </table>
        <button ng-click="cv.first()">1</button>
        <button ng-click="cv.back()">back</button>
        <input ng-model="cv.currentPageNumber" type="number" ng-change="cv.goToPage(cv.currentPageNumber)">
        <button ng-click="cv.forward()">forward</button>
        <button ng-click="cv.last()">{{cv.totalPages()}}</button>


    </div>
</section>